<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css" />
</head>
<body>
    <header>
        <div class="logo-searchbar">
        <figure class="logo">
            <img src="/img/logo-mercado-liebre.svg" alt = "Logo de mercado liebre">
        </figure>
        <div class="search-bar">
            <form action="">
                <input type="searchtext" placeholder="Buscar productos, marcas"> <button><i class="fa-solid fa-magnifying-glass"></i></button></div>
            </form>
        <div>
            <br>
            <i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de crédito
        </div>
    </div>
        <nav class="main-navbar">
        <ul class="navbar">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
    
        <ul class="login-bar">
            <li><a href="/register">Creá tu cuenta</a> <i class="fa-regular fa-id-card"></i></li>
            <li><a href="/login">Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i></li>
            <li><a href="">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
        </ul>
    </nav>
        
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <main>
    <form action="/login" method="POST"> Registro
        <input type="text" name="username" class="campo" placeholder="Nombre de Usuario" id="username" required> <br>
        <input type="password" name="password" class="campo" placeholder="Contraseña" id="password" required> <br>
       <a href="/">
            <input type="button" class="boton-enviar" value="Enviar">
        </a>
    
    </form>
</main>

<footer>
    <section>
    <h4><i class="fa-solid fa-credit-card"></i><br>Pagá con tarjeta o efectivo</h4>
    <span>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</span>
    </section>
    
    <section>
    <h4><i class="fa-solid fa-gift"></i><br>Envío gratis desde $2500</h4>
    <span>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</span>  
    </section>
   
    <section>
    <h4><i class="fa-solid fa-user-shield"></i><br>Seguridad, de principio a fin</h4>
    <span>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</span>
    <br>
    </section>
    <section>
        <div class="copyrigth">
            <span><br><br>Copyright © 1999-2020 MercadoLiebre S.R.L.</span>
        </div>
    </section>
    
</footer>
</body>
</html>